*{
    margin : 0;
    padding : 0;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

body{
    background-color: black;
}

.buttons{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 90px);
}


.buttons button{
    background: lightblue;
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    border : 1px solid white;
}

.buttons button:hover{
    font-size:3rem;

}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background: rgb(255, 255, 255);
    font-size: 3rem;
    display : flex;
    justify-content : space-around;
    align-items : flex-end;
    flex-direction: column;
    padding : 10px;
    overflow: hidden;
    word-wrap :break-word;
    word-break : break-all;
}

.output .previous-operand{
    color : gray;
    font-size: 2rem;
}

.output .current-operand{
    color :blue;
    font-size: 3rem;
}


@media(max-width : 700px){
    .buttons{
    
        margin: auto;
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: minmax(70px, auto) repeat(5, 60px);
    }
    .buttons button
    {
        font-size: 1rem;
    }
    .buttons button:hover{
        font-size: 1.2rem;
    }
    .output {
        grid-column: 1/-1;
        font-size : 1rem;
    }
    .output .previous-operand{
        color : gray;
        font-size: 1rem;
    }
    
    .output .current-operand{
        color :blue;
        font-size: 1.5rem;
    }
    
}
